@use '../styles/partials/mixins' as *;

.Coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 slideInFromLeft;
  &__info{
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
  }
  &__back {
    cursor: pointer;
    margin-bottom: 1rem;
    color: black;
    font-size: 2rem;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      transform: translateX(-5px);
      letter-spacing: 1px;
    }
  }
  &__edit {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: white;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
  }


}