@use '../styles/partials/mixins' as *;

.Coffee {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 slideInFromLeft;
  margin-inline: 1rem;

  @include tablet {
    margin-inline: 2rem;
  }
  @include desktop {
    width: 1280px;
    margin-inline: auto;
  }
  &__icon {
    height: 2rem;
  }
  &__info{
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
  }
  &__back {
    cursor: pointer;
    margin-bottom: 1rem;
    color: black;
    font-size: 2rem;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      transform: translateX(-5px);
      letter-spacing: 1px;
    }
  }
  &__edit {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    background-color: orange;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.4s ease;
    &:hover {
      background-color: rgb(255, 190, 70);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &--left {
    @include tablet {
    margin-right: 5rem;

    }
  }
  &__footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      align-items: center;
      width: 50%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__name {
    font-weight: bold;
    color:rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;margin-bottom: 1rem;
  }

  &__roaster {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
  }
  &__origin {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
  }
  &__farm {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
  }
  &__description {
    line-height: 1.5;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
  }
  &__flavours {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
  }
  &__flavours-title {
    display: block;
  }
  &__flavour {
    &:first-child {
      margin-top: 0.3rem;
    }
    background-color:rgba(213, 122, 255, 0.281);
    text-align: center;
    padding: 0.2rem 0.1rem;
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
  }
  &__price {
    font-size: 1.2rem;
    color: orangered;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__score {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 1.3rem;
    text-decoration: none;
    border: 1px solid orangered;
    text-align: center;
    padding: 0.5rem 1rem;
    color: orangered;
    transition: all 0.4s ease;
    &:hover {
      background-color: orangered;
      color: white;
    }
  }
  &--left {
    @include tablet {
      display: flex;
    width: 60%;
      justify-content: space-between;
    }
  }
  &--right {
    @include desktop {
      display: flex;
      width: 50%;
      gap: 2rem;
      justify-content: space-between;
    }
  }
  @include tablet {
    &__flavours {

    }
    &__info {
      background-image: url('');
    }
    &__footer {
      width: 100%;
    }
  }
}